<a href="https://colab.research.google.com/github/varun2068/Data-Science/blob/main/Week_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Basic Statistical Testing**

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [5]:
df = pd.read_csv('grades.csv')
df.head()

                             student_id  ...         assignment6_submission
0  B73F2C11-70F0-E37D-8B10-1D20AFED50B1  ...  2015-11-22 18:31:15.934000000
1  98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1  ...  2015-12-21 17:07:24.275000000
2  D0F62040-CEB0-904C-F563-2F8620916C4E  ...  2016-01-17 16:24:42.765000000
3  FFDF2B2C-F514-EF7F-6538-A6A53518E9DC  ...  2016-05-26 08:09:12.058000000
4  5ECBEEB6-F1CE-80AE-3164-E45E99473FB4  ...  2016-01-05 01:06:59.546000000

[5 rows x 13 columns]

In [6]:
print("There are {} rows and {} columns".format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 columns

In [8]:
early_finished = df[pd.to_datetime(df['assignment1_submission']) > '2016']
early_finished

                                student_id  ...         assignment6_submission
2     D0F62040-CEB0-904C-F563-2F8620916C4E  ...  2016-01-17 16:24:42.765000000
3     FFDF2B2C-F514-EF7F-6538-A6A53518E9DC  ...  2016-05-26 08:09:12.058000000
6     3217BE3F-E4B0-C3B6-9F64-462456819CE4  ...  2016-03-23 14:02:00.987000000
7     F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F  ...  2016-02-18 08:35:04.796000000
9     E2C617C2-4654-622C-AB50-1550C4BE42A0  ...  2016-03-30 20:33:13.554000000
...                                    ...  ...                            ...
2303  DDE0526B-7DA4-80E8-C2A6-D097F3826029  ...  2016-02-14 09:03:33.466000000
2306  DDE0526B-7DA4-80E8-C2A6-D097F3826029  ...  2016-07-17 15:17:58.502000000
2307  1F51E050-78F7-F270-1B90-ED1BC0376763  ...  2016-02-19 20:36:16.121000000
2310  DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2  ...  2016-03-25 11:00:06.923000000
2313  1F51E050-78F7-F270-1B90-ED1BC0376763  ...  2016-04-23 03:44:06.813000000

[1056 rows x 13 columns]

In [9]:
lately_finished = df[pd.to_datetime(df['assignment1_submission']) <= '2016']
lately_finished

                                student_id  ...         assignment6_submission
0     B73F2C11-70F0-E37D-8B10-1D20AFED50B1  ...  2015-11-22 18:31:15.934000000
1     98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1  ...  2015-12-21 17:07:24.275000000
4     5ECBEEB6-F1CE-80AE-3164-E45E99473FB4  ...  2016-01-05 01:06:59.546000000
5     D09000A0-827B-C0FF-3433-BF8FF286E15B  ...  2016-01-20 19:54:46.166000000
8     C9D51293-BD58-F113-4167-A7C0BAFCB6E5  ...  2016-01-19 15:24:31.060000000
...                                    ...  ...                            ...
2308  EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31  ...  2015-10-27 00:21:47.208000000
2309  6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC  ...  2015-10-26 10:34:41.293000000
2311  DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2  ...  2015-12-22 13:34:42.931000000
2312  EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31  ...  2015-12-04 09:56:07.156000000
2314  DDE0526B-7DA4-80E8-C2A6-D097F3826029  ...  2015-10-26 15:56:55.460000000

[1259 rows x 13 columns]

Another way to do find the late submissions

In [11]:
late_finished = df[~df.index.isin(early_finished.index)]
late_finished

                                student_id  ...         assignment6_submission
0     B73F2C11-70F0-E37D-8B10-1D20AFED50B1  ...  2015-11-22 18:31:15.934000000
1     98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1  ...  2015-12-21 17:07:24.275000000
4     5ECBEEB6-F1CE-80AE-3164-E45E99473FB4  ...  2016-01-05 01:06:59.546000000
5     D09000A0-827B-C0FF-3433-BF8FF286E15B  ...  2016-01-20 19:54:46.166000000
8     C9D51293-BD58-F113-4167-A7C0BAFCB6E5  ...  2016-01-19 15:24:31.060000000
...                                    ...  ...                            ...
2308  EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31  ...  2015-10-27 00:21:47.208000000
2309  6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC  ...  2015-10-26 10:34:41.293000000
2311  DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2  ...  2015-12-22 13:34:42.931000000
2312  EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31  ...  2015-12-04 09:56:07.156000000
2314  DDE0526B-7DA4-80E8-C2A6-D097F3826029  ...  2015-10-26 15:56:55.460000000

[1259 rows x 13 columns]

In [12]:
print(lately_finished['assignment1_grade'].mean())
print(early_finished['assignment1_grade'].mean())

74.94728457024303
74.0450648477065

SciPy Library contains a number of different statistical tests abnd forms a basisi for hypothesis testing in python and we're going to use the ```ttest_ind()``` function which does an independent
 **t-test(the populations are not related to one another)**

The result of ttest_index()a re the t-statistic and a p-value. It's this latter value, the probaboilit, which is most important to us, as it indicates the chance (between 0 and 1) of our null hypothesis being True.

In [14]:
from scipy.stats import ttest_ind

ttest_ind(early_finished['assignment1_grade'], lately_finished['assignment1_grade'])

Ttest_indResult(statistic=-1.322354085372139, pvalue=0.1861810110171455)

In [15]:
print(ttest_ind(early_finished['assignment2_grade'], lately_finished['assignment2_grade']))
print(ttest_ind(early_finished['assignment3_grade'], lately_finished['assignment3_grade']))
print(ttest_ind(early_finished['assignment4_grade'], lately_finished['assignment4_grade']))
print(ttest_ind(early_finished['assignment5_grade'], lately_finished['assignment5_grade']))
print(ttest_ind(early_finished['assignment6_grade'], lately_finished['assignment6_grade']))

Ttest_indResult(statistic=-1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=-1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=-0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=0.11609743352612056, pvalue=0.9075854011989656)

In [16]:
df1 =pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head()

         0         1         2   ...        97        98        99
0  0.405190  0.234023  0.471853  ...  0.594308  0.295731  0.462008
1  0.356644  0.141788  0.291349  ...  0.859445  0.728399  0.690816
2  0.632916  0.220166  0.364731  ...  0.580056  0.191406  0.584806
3  0.592114  0.781475  0.428728  ...  0.257424  0.210560  0.039777
4  0.397460  0.667010  0.874405  ...  0.814986  0.569462  0.551598

[5 rows x 100 columns]

In [17]:
df2 =pd.DataFrame([np.random.random(100) for x in range(100)])
df2.head()

         0         1         2   ...        97        98        99
0  0.568164  0.760107  0.159637  ...  0.079976  0.627323  0.461762
1  0.664781  0.270700  0.235718  ...  0.692560  0.173531  0.299545
2  0.806405  0.253969  0.591920  ...  0.529151  0.175732  0.517560
3  0.906690  0.291593  0.308966  ...  0.299834  0.907747  0.150326
4  0.737842  0.764609  0.644356  ...  0.956292  0.543026  0.038071

[5 rows x 100 columns]

In [22]:
def test_columns(alpha=0.1):
  numdiff = 0
  for col in df1.columns:
    teststat,pval=ttest_ind(df1[col], df2[col])
    if pval <= alpha:
      print('Col {} is statistically significantly different at alpha={}, pval={}'.format(col, alpha, pval))
      numdiff = numdiff+1

  print('Total number different was {}, which is {}%'.format(numdiff, float(numdiff)/len(df1.columns)*100))

test_columns()

Col 20 is statistically significantly different at alpha=0.1, pval=0.03035081616982036
Col 55 is statistically significantly different at alpha=0.1, pval=0.05941928661584439
Col 56 is statistically significantly different at alpha=0.1, pval=0.09619246658630459
Col 66 is statistically significantly different at alpha=0.1, pval=0.08971282438709964
Col 89 is statistically significantly different at alpha=0.1, pval=0.0683447988537391
Col 99 is statistically significantly different at alpha=0.1, pval=0.09961964920210567
Total number different was 6, which is 6.0%

In [25]:
test_columns(0.08)

Col 20 is statistically significantly different at alpha=0.08, pval=0.03035081616982036
Col 55 is statistically significantly different at alpha=0.08, pval=0.05941928661584439
Col 89 is statistically significantly different at alpha=0.08, pval=0.0683447988537391
Total number different was 3, which is 3.0%

In [27]:
df2 = pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])
test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval=0.0037969577180999707
Col 1 is statistically significantly different at alpha=0.1, pval=0.0037139702675714334
Col 2 is statistically significantly different at alpha=0.1, pval=0.0008799609681565131
Col 3 is statistically significantly different at alpha=0.1, pval=8.07216138885151e-05
Col 4 is statistically significantly different at alpha=0.1, pval=0.0061576407190624075
Col 5 is statistically significantly different at alpha=0.1, pval=0.0013757001768236652
Col 6 is statistically significantly different at alpha=0.1, pval=0.0025661891575085327
Col 7 is statistically significantly different at alpha=0.1, pval=0.0009555878342290493
Col 8 is statistically significantly different at alpha=0.1, pval=0.005717657478567498
Col 9 is statistically significantly different at alpha=0.1, pval=0.0012897835260381896
Col 10 is statistically significantly different at alpha=0.1, pval=0.0014715762510513263
Col 11 is statistically significantly different at alpha=0.1, pval=0.003718037021241225
Col 12 is statistically significantly different at alpha=0.1, pval=0.00012866226938212016
Col 13 is statistically significantly different at alpha=0.1, pval=0.0005068353924605366
Col 14 is statistically significantly different at alpha=0.1, pval=9.733313076899864e-05
Col 15 is statistically significantly different at alpha=0.1, pval=0.014574496180033326
Col 16 is statistically significantly different at alpha=0.1, pval=0.0007760737921807854
Col 17 is statistically significantly different at alpha=0.1, pval=0.001610642904387749
Col 18 is statistically significantly different at alpha=0.1, pval=0.01570400374904203
Col 19 is statistically significantly different at alpha=0.1, pval=3.0973760081609946e-05
Col 20 is statistically significantly different at alpha=0.1, pval=0.00044781039913066936
Col 21 is statistically significantly different at alpha=0.1, pval=0.0010047279153634213
Col 22 is statistically significantly different at alpha=0.1, pval=0.0008764270639971539
Col 23 is statistically significantly different at alpha=0.1, pval=3.5688362550123726e-06
Col 24 is statistically significantly different at alpha=0.1, pval=4.4553268995074884e-05
Col 25 is statistically significantly different at alpha=0.1, pval=0.0010205053018346546
Col 26 is statistically significantly different at alpha=0.1, pval=0.00808594283878909
Col 27 is statistically significantly different at alpha=0.1, pval=1.4938196664505383e-05
Col 28 is statistically significantly different at alpha=0.1, pval=0.0019014957490119905
Col 29 is statistically significantly different at alpha=0.1, pval=3.6993843212042625e-05
Col 30 is statistically significantly different at alpha=0.1, pval=5.2009150375247034e-05
Col 31 is statistically significantly different at alpha=0.1, pval=0.0012358573481726443
Col 32 is statistically significantly different at alpha=0.1, pval=0.002206135943659965
Col 33 is statistically significantly different at alpha=0.1, pval=0.006276648519799806
Col 34 is statistically significantly different at alpha=0.1, pval=0.0010464040100570016
Col 35 is statistically significantly different at alpha=0.1, pval=0.00043592146849485145
Col 36 is statistically significantly different at alpha=0.1, pval=0.0028607768464012037
Col 37 is statistically significantly different at alpha=0.1, pval=0.0004188258010368515
Col 38 is statistically significantly different at alpha=0.1, pval=0.024594449508126143
Col 39 is statistically significantly different at alpha=0.1, pval=0.018497534812741096
Col 40 is statistically significantly different at alpha=0.1, pval=0.006910638732914426
Col 41 is statistically significantly different at alpha=0.1, pval=0.0004984256513080786
Col 42 is statistically significantly different at alpha=0.1, pval=0.00021937416963730436
Col 43 is statistically significantly different at alpha=0.1, pval=1.611906909738905e-07
Col 44 is statistically significantly different at alpha=0.1, pval=0.0011693209581713215
Col 45 is statistically significantly different at alpha=0.1, pval=0.00013707584145366403
Col 46 is statistically significantly different at alpha=0.1, pval=0.00015885990007565547
Col 47 is statistically significantly different at alpha=0.1, pval=0.00011077862728811887
Col 48 is statistically significantly different at alpha=0.1, pval=0.0010786456429185411
Col 49 is statistically significantly different at alpha=0.1, pval=0.02615025260998622
Col 50 is statistically significantly different at alpha=0.1, pval=0.001739841206432756
Col 51 is statistically significantly different at alpha=0.1, pval=2.493616335335937e-05
Col 52 is statistically significantly different at alpha=0.1, pval=0.0008515300990852991
Col 53 is statistically significantly different at alpha=0.1, pval=0.013517608492064149
Col 54 is statistically significantly different at alpha=0.1, pval=0.002038488028409965
Col 55 is statistically significantly different at alpha=0.1, pval=0.0003561654162595638
Col 56 is statistically significantly different at alpha=0.1, pval=2.333819892911716e-05
Col 57 is statistically significantly different at alpha=0.1, pval=3.003915948626381e-06
Col 58 is statistically significantly different at alpha=0.1, pval=0.000356131684732048
Col 59 is statistically significantly different at alpha=0.1, pval=0.004236419537605642
Col 60 is statistically significantly different at alpha=0.1, pval=0.061196763907256035
Col 61 is statistically significantly different at alpha=0.1, pval=0.00017825386128847255
Col 62 is statistically significantly different at alpha=0.1, pval=0.0008229943789454246
Col 63 is statistically significantly different at alpha=0.1, pval=9.084867628280735e-06
Col 64 is statistically significantly different at alpha=0.1, pval=0.0005672826667235281
Col 65 is statistically significantly different at alpha=0.1, pval=3.638869213219521e-05
Col 66 is statistically significantly different at alpha=0.1, pval=5.398346259403961e-05
Col 67 is statistically significantly different at alpha=0.1, pval=0.0025390656379542186
Col 68 is statistically significantly different at alpha=0.1, pval=0.0005985672052216287
Col 69 is statistically significantly different at alpha=0.1, pval=0.00021101834760058337
Col 70 is statistically significantly different at alpha=0.1, pval=0.024429398997505247
Col 71 is statistically significantly different at alpha=0.1, pval=0.0005646815370998971
Col 72 is statistically significantly different at alpha=0.1, pval=0.0008230226389666841
Col 73 is statistically significantly different at alpha=0.1, pval=0.010577414524854617
Col 74 is statistically significantly different at alpha=0.1, pval=4.050563974184216e-05
Col 75 is statistically significantly different at alpha=0.1, pval=0.004896851507459683
Col 76 is statistically significantly different at alpha=0.1, pval=0.00491234811474315
Col 77 is statistically significantly different at alpha=0.1, pval=0.000286604583263592
Col 78 is statistically significantly different at alpha=0.1, pval=5.733097050143806e-05
Col 79 is statistically significantly different at alpha=0.1, pval=0.001651740683176695
Col 80 is statistically significantly different at alpha=0.1, pval=0.0018532008725890105
Col 81 is statistically significantly different at alpha=0.1, pval=1.7942783251211355e-05
Col 82 is statistically significantly different at alpha=0.1, pval=0.0005078119123078165
Col 83 is statistically significantly different at alpha=0.1, pval=0.0006508478826936064
Col 84 is statistically significantly different at alpha=0.1, pval=1.3239227475843395e-05
Col 85 is statistically significantly different at alpha=0.1, pval=8.735527529989187e-05
Col 86 is statistically significantly different at alpha=0.1, pval=0.0007571714462777762
Col 87 is statistically significantly different at alpha=0.1, pval=0.013704214096746922
Col 88 is statistically significantly different at alpha=0.1, pval=1.9979049822798034e-05
Col 89 is statistically significantly different at alpha=0.1, pval=0.0006063823891932078
Col 90 is statistically significantly different at alpha=0.1, pval=0.0037117377858139826
Col 91 is statistically significantly different at alpha=0.1, pval=0.0008457263805702927
Col 92 is statistically significantly different at alpha=0.1, pval=0.00013344117913627752
Col 93 is statistically significantly different at alpha=0.1, pval=0.0007017727863597731
Col 94 is statistically significantly different at alpha=0.1, pval=0.00018976704770864297
Col 95 is statistically significantly different at alpha=0.1, pval=3.4163525535111676e-05
Col 96 is statistically significantly different at alpha=0.1, pval=0.006793378992955589
Col 97 is statistically significantly different at alpha=0.1, pval=2.754704241483428e-05
Col 98 is statistically significantly different at alpha=0.1, pval=0.002058572702114384
Col 99 is statistically significantly different at alpha=0.1, pval=0.012129744594090637
Total number different was 100, which is 100.0%